@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';
.header {
    margin-top: 40;
    background: linear-gradient(180deg, #0C273A 0%, #011422 100%);
}

.welcome {
    margin-top: 16;
    color: white;
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

.choose {
    color: white;
    margin: 5, 0, 16, 0 !important;
    font-size: 14 !important;
    text-align: center;
}

.header SearchBar {
    /*placeholder-color: #B8B8B8;*/
    font-size: 14;
    height: 36;
    background: white;
    margin: 40, 16, 0, 16;
    border-radius: 16;
    clip-path: polygon(100% 23%, 96% 18%, 94% 15%, 89% 10%, 84% 6%, 79% 3%, 73% 0%, 0% 0%, 0% 100%, 100% 100%);
}

GridLayout Label {
    margin-top: 16;
    margin-left: 80;
}

GridLayout Label+Label {
    margin-top: 0;
    margin-bottom: 16;
}


/* .storeIcon {
    background: url('res://store');
    background-repeat: no-repeat;
    padding-left: 10;
} */

.telfRegular {
    color: #50535a;
    font-size: 16dp;
}

.telfLight {
    color: #50535a;
    font-size: 14dp;
}