.header{
    background: linear-gradient(180deg, #0C273A 0%, #011422 100%);
}

.searchStack{
    padding: 16px;
}

.img{
    font-size: 20;
    margin-top: 48;
    margin-left: 18;
    padding-left: 2;
    padding-top: 6;
    z-index: 1;
  }

    /*SearchBar*/
  .header TextField {
    placeholder-color: #B8B8B8;
    width: 90%;
    padding-left: 30;
    margin-top: 48;
    margin-left: 16;
    background: #ffffff;
    border-radius: 16;
    height: 36;
}

/*.header TextField::placeholder{
    color: #0019A5;
}*/

.titleStack{
    horizontal-align: center;
}

.titleStack label{
    margin-top: 14;
    color: white;
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

.titleStack label+Label {
    color: #008EDD;
    margin-top: 16;
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

.choose{
    color: white;
    margin: 5, 0, 16, 0;
    font-size: 14px !important;
    text-align: center;
}



