.header{
    background: linear-gradient(180deg, #0C273A 0%, #011422 100%);
}

.searchStack{
    padding: 16px;
}

.img{
    width: 29dp;
    height: 36dp;
    margin: 48, 0, 0, 0;
    background: #ffffff;
    border-top-left-radius: 16dp;
    border-bottom-left-radius: 16dp;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block-start: 2px;
  }

    /*SearchBar*/
  .header TextField {
    placeholder-color: #B8B8B8;
    font-size: 14;
    height: 36;
    width: 90%;
    background: #ffffff;
    margin: 48, 16, 0, 0;
    border-top-right-radius: 16dp;
    border-bottom-right-radius: 16dp;
    padding-left: 16dp;
}

.header TextField::placeholder{
    color: #0019A5;
}

.titleStack{
    horizontal-align: center;
}

.titleStack label{
    margin-top: 14;
    color: white;
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

.titleStack label+Label {
    color: #008EDD;
    margin-top: 16;
    font-size: 22;
    text-align: center;
    font-weight: bold;
}

.choose{
    color: white;
    margin: 5, 0, 16, 0;
    font-size: 14px !important;
    text-align: center;
}



