<StackLayout orientation="vertical" padding="2">
    <StackLayout orientation="vertical" class="header">
        <SearchBar id="search-CompanySearchBar" hint="Busca por nombre de la empresa" [text]="searchPhrase" (textChange)="onTextChanged($event)" (clear)="onClear($event)" (submit)="onSubmit($event)" borderRadius="16" padding="2"></SearchBar>

        <Label class="welcome" text="Bienvenido, Pedro Perez"></Label>
        <Label class="choose" text="Elige la empresa que quieres gestionar"></Label>
    </StackLayout>

    <!--<Label *ngFor="let item of arrayEmpresas" [text]="item.customerName"></Label>-->

    <ListView id="listCompany-CompanyListView" [items]="arrayEmpresas" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item">
            <GridLayout columns="auto,100" rows="auto,auto" padding="2" margin="0">
                <StackLayout orientation="horizontal">
                    <Image src="res://store" width="29" height="29" marginLeft="2"></Image>
                    <StackLayout orientation="vertical">
                        <Label id="nameCompany-CompanyLabel" class="telfRegular" [text]="item.customerName" col="0" row="0" margin="3" padding="0" marginBottom="0"></Label>
                        <Label id="rutCompany-CompanyLabel" class="telfLight" [text]="'Rut: ' + item.customerLegalId" col="0" row="1" margin="3" padding="0" top="0"></Label>
                        <Image src="res://next" class="m-r-0" width="21" height="31"></Image>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>