<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image width="100" height="100" stretch="aspectFit" row="0" col="0" src="res://logo_negocios"></Image>
        <ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" [visibility]="isLoading? 'visible':'collapse'"></ActivityIndicator>
        <StackLayout>
            <Label class="bold center fSize20" text="{{ mensBienvenida }}"></Label>
            <Label class="center" text="{{ infoEntrada }}"></Label>
        </StackLayout>
        <StackLayout class="input-field"><br><br><br><br>
            <FloatLabel placeholder="Username">
            </FloatLabel><br>
            <br>
            <Label></Label>
            <TextField class="input" hint="12.345.678-9" tap="onTextInputTapped" [(ngModel)]="alterRut" [ngStyle]="{'border-color': getColorUser()}"></TextField>
            <Label [text]="mensajeRut" *ngIf="isVisible" class="err"></Label>
            <TextField [(ngModel)]="passwordInput" #password class="input" [ngStyle]="{'border-color': getColorPass()}" hint="Password" (tap)="onRutPipeAndValidation()" secure="true"></TextField>
            <label text="{{ pistaPassword }}"></label>
            <Label col="1" [text]="showHideIcon" class="showhide" (tap)="showHidePassword()" verticalAlignment="middle"></Label>
            <Switch left="10" top="110" color="white" backgroundColor="black" offBackgroundColor="red" text="{{ recRut }}"></Switch>
            <Button class="btnColor btnFontColor" (tap)="onList()" text="Ingresar"></Button>
            <Label class="center" text="{{ olvidoPass }}"></Label>

            
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
