<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image id="logo-loginImage" width="100" height="100" stretch="aspectFit" row="0" col="0" src="res://logo_negocios"></Image>
        <ActivityIndicator id="loading-loginSpin" [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" [visibility]="isLoading? 'visible':'collapse'"></ActivityIndicator>
        <StackLayout>
            <Label id="msgWelcome-loginLabel" class="bold center fSize20" text="{{ mensBienvenida }}"></Label>
            <Label id="msgInfo-loginLabel" class="center" text="{{ infoEntrada }}"></Label>
        </StackLayout>
        <StackLayout class="input-field position">
            <Label></Label>
            <TextField id="rut-loginTextField" class="input" hint="12.345.678-9" tap="onTextInputTapped" [(ngModel)]="alterRut" [ngStyle]="{'border-color': getColorUser()}"></TextField>
            <Label id="validateRut-loginLabel" [text]="mensajeRut" *ngIf="isVisible" class="err"></Label>
            <AbsoluteLayout>
                <TextField id="password-loginTextField" [(ngModel)]="passwordInput" #password class="input-pass" [ngStyle]="{'border-color': getColorPass()}" hint="Contraseña*" (tap)="onRutPipeAndValidation()" secure="true"></TextField>
                <Label id="iconPassword-loginLabel" [text]="showHideIcon" class="showhide fa fa-eye" (tap)="showHidePassword()" verticalAlignment="middle"></Label>
            </AbsoluteLayout>
            <label id="verifyRut-loginLabel" text="{{ pistaPassword }}"></label>
            <Switch id="saveRut-loginSwitch" left="10" top="110" color="white" backgroundColor="black" offBackgroundColor="red" text="{{ recRut }}"></Switch>
            <Button id="logIn-loginButton" class="btnColor btnFontColor" (tap)="onList()" text="Ingresar"></Button>
            <Label id="forgetPassword-loginLabel" class="center" text="{{ olvidoPass }}"></Label>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
