<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image id="logo-loginImage" width="190" height="60" stretch="aspectFit" row="0" col="0" class="logo" src="res://logo_negocios"></Image>
        <ActivityIndicator id="loading-loginSpin" [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        <StackLayout>
            <Label id="msgWelcome-loginLabel" class="login-label2" text="{{ welcome }}"></Label>
            <Label id="msgInfo-loginLabel" class="center msjinfo-label" text="{{ info }}"></Label>
        </StackLayout>
        <StackLayout class="input-field position">
            <GridLayout columns="auto" rows="auto">
                <TextField #inputRut row="0" id="rut-loginTextField" hint="Rut *" class="input mb-0" borderWidth="2" height="54" borderColor="#008edd" borderRadius="19" [(ngModel)]="alterRut" (textChange)="setEnabled()" (returnPress)="setEnabled()" [ngStyle]="{'border-color': getColorUser()}"
                    (tap)="tapRut()" (blur)="outRut()"></TextField>
            </GridLayout>
            <Label #msjRutLb id="validateRut-loginLabel" class="left mb-4" text="{{ mensajeRut }}"></Label>

            <GridLayout columns="auto" rows="auto">
                <TextField id="password-loginTextField" secure="true" #password hint="Contraseña *" class="input-pass mb-0" borderWidth="2" height="54" borderColor="#008edd" borderRadius="19" (textChange)="setEnabled()" (returnPress)="setEnabled()" [(ngModel)]="passwordInput"
                    [ngStyle]="{'border-color': getColorPass()}" (tap)="onRutPipeAndValidation()" (blur)="outPass()" row="0" colSpan="0"></TextField>
                <Label [text]="showHideIcon" class="showhide fa fa-eye" (tap)="showHidePassword()" id="iconPassword-loginLabel" text="5" row="0" zIndex="1"></Label>
            </GridLayout>

            <label #msjPassLb class="mb-4 left" id="verifyRut-loginLabel" text="{{ passHint }}"></label>
            <Label color="purple" [text]="search" class="fa"></Label>
            <GridLayout rows="auto,auto" columns="90,*">
                <Switch row="0" col="0" id="saveRut-loginSwitch" color="purple" backgroundColor="black" offBackgroundColor="black"></Switch>
                <label row="0" col="1" id="recoverRut-loginLabel" class="labelrecordar" text="{{ rememberPass }}"></label>
            </GridLayout>

            <GridLayout rows="auto,auto" columns="auto">
                <Button #buttonIngresar row="0" col="0" isEnabled="false" id="logIn-loginButton" class="btnProperties" (tap)="onList()" text="Ingresar"></Button>
                <Label row="1" col="0" id="forgetPassword-loginLabel" class="center" text="{{ passForgotten }}"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>