.form {
    width: 100%;
    margin-left: 30;
    margin-right: 30;
    
}

.header {
    font-size: 25;
    text-align: center;
    color: red;
    font-weight: 600;
    margin-bottom: 70;
}
.input-field {
    margin-bottom: 20;
}

.input {
    placeholder-color: #B8B8B8;
    font-size: 15;
}

.bold {
    font-weight: bold;
}

.fSize20 {
    font-size: 20;
}

.center {
    text-align: center;
}
.login-label2{
    text-align: center;
    font-size: 20;
    font-weight: bold;
    color: #3c5261;
}

.btnColor {
    width: 328;
    height: 48;
    margin: 63 0 16 0.1;
    padding: 10 130 8 134;
    border-radius: 24;
    background-color: #0b2739;
}

.btnFontColor {
    color: #ffffff;
}
.showhide{
    font-size: 25;
    z-index: -1;
    left: 300;
}
.input-pass{
    placeholder-color: #B8B8B8;
    font-size: 15;
    width: 320;
}
.msjinfo-label{
    text-align: center;
    color: #50535a;
}
.msjpass-label{
    text-align:center;
    color: #50535a;
}
.labelrecordar{
    margin-top: 17vh;
}